@font-face {
  font-family: JetBrainsMono;
  src: url(/public/fonts/jetmono.ttf);
}

main {
  min-height: 100vh;
}


a:link {
	text-decoration: none;
}

a:hover,a:active {
	text-decoration: underline;
}


body {
	background-color:#171717;
	font-family: JetBrainsMono; 
	color: white;

	position: relative;
	padding-inline: max(calc((100% - 810px) / 2), 15px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.link {
	text-align: end;
	margin-top: auto;
	margin-bottom: auto;
}

@media (max-width:700px) {
	body {
		padding-inline: 15px;
	}

	p {
		font-size: 16px;
	}

	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 22px;
	}

	h3 {
		font-size: 18px;
	}

	h4, h5, h6 {
		font-size: 16px;
	}
}